* {
    border:        none;
    border-radius: 0;
    font-family:   "JetBrains Mono";
    font-size:     12px;
    min-height:    24px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    background: rgba(43, 48, 59, 0.8);
    color: white;
}

#window {
    font-weight: bold;
    font-family: "JetBrains Mono"; 
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 3px solid rgba(217, 216, 216, 1);
    border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#pulseaudio, #network, #clock, #cpu, #memory {
   margin-top: 2px;
   margin-left: 2px;
   padding-left: 8px;
   padding-right: 8px;
   margin-bottom: 2px;
   border-radius: 26px;
   transition: none;
   color: #f8f8f2;
   background: #282a36;
}

/* Thick Line at the top of each module
 #pulseaudio, #network {
    border-top: 5px solid #b877db;
 }
*/

#custom-appmenu {
   margin-left: 5px;
   font-size: 18px;
}
